<h1>User search</h1>
<%= form_tag(search_show_path, method: :get) do %>
  <%= text_field_tag :search%>
<%= select_tag(:option, options_for_select([["user", "1"],["book","2"]]))%> 
<%= select_tag(:choice, options_for_select([["あいまい検索", "1" ],["後方一致検索", "2" ],["前方一致検索", "3" ],["完全一致検索", "4" ]])) %>
  <%= submit_tag "Search" ,:name => nil %>
<% end %>
